.mod.sbbpanel {

    height: 0;
    background-color: #767676;
    position: relative;
    padding-bottom: 72%;

    @media screen and (min-width: 41.6875rem){
        padding-bottom: 56%;
    }
    @media screen and (min-width: 48rem){
        padding-bottom: 100%;
    }
    @media screen and (min-width: 48.0625rem){
        padding-bottom: 100%;
    }
    @media screen and (min-width: 64rem){
        padding-bottom: 48%;
    }
    @media screen and (min-width: 80rem){
        padding-bottom: 46%;
    }
    @media screen and (min-width: 100rem){
        padding-bottom: 35%;
    }

    img {
        width: auto;
        max-width: none;
        height: 100%;
        position: absolute;
    }

    .figure {
        position: absolute;
        z-index: 0;
        top: 0; left: 0;
        bottom: 0; right: 0;
        width: 100%; height: 100%;
        margin: 0;
        background: no-repeat center/cover;
    }

    .panel-head {
        position: relative;
        top: 1rem;
        @media screen and (min-width: 48rem){
            top: 2rem;
        }
        @media screen and (min-width: 64rem){
            top: 3rem;
        }
    }

    .panel-title, .panel-subtitle {
        color: #fff;
    }

    .panel-inner {
        width: 100%;
        min-width: 11.75rem;
        max-width: 11.75rem;
        overflow: hidden;
        position: relative;

        @media screen and (min-width: 23.4375rem){
            max-width: 15.25rem;
        }
        @media screen and (min-width: 48rem){
            max-width: 25rem;
        }
        @media screen and (min-width: 80rem){
            max-width: 29rem;
        }
    }

    .svg {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .svg-wrap {
        width: 100%;
        height: 0;
        padding-bottom: (690/668) * 100%;
        position: relative;
    }

    .panel-content {
        position: absolute;
        width: 100%;
        height: 0;
        padding-bottom: (308/464) * 100%;
        box-sizing: initial;
        top: 50%;
        transform: translateY(-50%);
    }

    .polygon, .text {
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    .text {
        box-sizing: border-box;
        color: #fff;
        padding: 0 8%;
        line-height: 1.25;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
    }

    .colour-box {
        mix-blend-mode: multiply;
        background-color: #EB0000;
    }

    .colour-polygon {
        mix-blend-mode: multiply;
        fill: #EB0000;
    }

    .whitemask-box {
        opacity: 0.7;
        background-color: #fff;
    }

    .whitemask-polygon {
        opacity: 0.7;
        fill: #fff;
    }

    .panel-title {
        font-size: 20/16 * 1rem;
        line-height: 1.2;
        margin-top: .5em;
        margin-bottom: 1rem;
    }

    .panel-subtitle {
        font-size: 12/16 * 1rem;
        line-height: 1.3;
        font-weight: 400;
        display: none;
    }

    @media screen and (min-width: 23.4375rem){
        .panel-title {
            font-size: 24/16 * 1rem;
        }
    }

    @media screen and (min-width: 30rem){
        .panel-subtitle {
            display: block;
        }
    }

    @media screen and (min-width: 48rem){
        .panel-title {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        .panel-subtitle {
            font-size: 1rem;
        }
    }

    @media screen and (min-width: 64rem){
        .panel-title {
            font-size: 36/16 * 1rem;
        }
        .panel-subtitle {
            font-size: 18/16 * 1rem;
        }
    }

    @media screen and (min-width: 90rem){
        .panel-title {
            font-size: 44/16 * 1rem;
        }
        .panel-subtitle {
            font-size: 22/16 * 1rem;
        }
    }

    &.is_hero {
        padding-bottom: 0;
        height: 100vh; // Amend this in your own CSS if you have a fixed toolbar on the page, thereby reducing the available visible height
    }

}

html {
    &.background-blend-mode-no, &.mix-blend-mode-no {
        .mod.sbbpanel {
            .colour-box {
                background-color: rgba(250, 0, 0, .65);
                mix-blend-mode: normal;
            }
            .colour-polygon {
                fill: rgba(250,0,0,.65);
                mix-blend-mode: normal;
            }
            .whitemask-box {
                background-color: rgba(50, 50, 50, .5);
            }
            .whitemask-polygon {
                fill: rgba(50, 50, 50, .5);
            }
            .panel-content {
                margin-top: 0;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////

.mod.sbbpanel {
    .text.small {

        @media screen and (min-width: 48rem){
            display: none;
        }
    }
    .text.medium {
        display: none;
        @media screen and (min-width: 48rem){
            display: block;
        }
        @media screen and (min-width: 80rem){
            display: none;
        }
    }
    .text.large {
        display: none;
        @media screen and (min-width: 80rem){
            display: block;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////

.mod.sbbpanel {
    &.position-tl img {
        top: 0; left: 0;
    }
    &.position-tc img {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &.position-tr img {
        top: 0; right: 0;
    }
    &.position-cl img {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    &.position-c img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.position-cr img {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    &.position-bl img {
        bottom: 0;
        left: 0;
    }
    &.position-bc img {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &.position-br img {
        bottom: 0;
        right: 0;
    }
}

//////////////////////////////////////////////////

@media print {
    .mod.sbbpanel {
        .image {
            display: none;
        }
    }
}
